extends layout
block content
    h1= "Napověda"
    p= `Nahravejte pouze kody klientu a akci v tomto pořadí.`

    p= `1. Kod klienta`

    p= `2. Kod úkonu`

        p= `3. Posloupnost kodu casu k souctu. (cas:YXmin...)`