extends layout
block content
    h1= "Napověda"
    p= `Nahravejte pouze kody klientu a akci v tomto pořadí.`

    p= `1. Kod klienta`

    p= `2. Kod úkonu`

        p= `Celkový čas je pevně nastaven na 30 minut, dá se změnit pomocí editace a nebo mě kotaktujte pro nastavení pevných času pro jednotlivé operace.`