body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#div1 {
  width: 100%;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.modal {
  overflow: auto !important;
}
